
body{
    position:fixed;
    text-align:center;
	color:#660000;
	font-family: helvetica;
	background-color: black;
    overflow:hidden;
}

#txt{

    position:fixed;
    top:10%;
    left:50%;
    font-size:12px;

}