<!DOCTYPE html>
<html>
<head>
    <title>strange fruit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/test.css">

</head>
<body>

<center>
    <img src="https://shaquan1228.github.io/js/aboutimage.png"></img>

    <div id="about">
        <p>
            Written by Abel Meeropool in 1937, the poem strange fruit comments on  the lynching of African Americans and the racism embedded in America.
        </p><p>
        STRANGE FRUIT is a brand and a concept. In today's society, people are being lynched by a different tree, the government, and its three branches: judicial, legislative and executive. This project attempts to make sense of contemporary society through cultural expression and clothing.
    </p>
    </div>

</body>
</center>


</html>
