<!DOCTYPE html>
<html>
<head>
    <title>strange fruit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/templatestyle.css">
    <base target="_parent">
</head>
<body>

<center>
    <!-- buttons for about, shop, and virtual experience-->
    <button onclick="window.location ='https://shaquan1228.github.io/about.html';" onmouseover="this.innerHTML='About';" onmouseout="this.innerHTML='Judicial';">  Jucidial  </button>
    <button onclick="window.location ='https://shaquan1228.github.io/product.html';" onmouseover="this.innerHTML='Shop';" onmouseout="this.innerHTML='Legislative';">  Legislative  </button>
    <button onmouseover="this.innerHTML='Visuals';" onmouseout="this.innerHTML='Executive';">  Executive  </button>

</center>
</body>

</html>
