

body{
	max-width: 100%;
	color: red;
	font-family: helvetica;
	background-color: black;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:red;
}

/*uzi 3d content*/
#uzi{

	/*HEAD*/
	/*display:table;*/
	/*height:20px;*/
	/*margin-left:-10px;*/ /* -1/2 width */
	/*margin-top:-10px; *//* -1/2 height */

	max-width:100%;
	margin-left:25%;
	text-align:center;
	position:fixed;
	margin:auto;
	display:table;
        vertical-align:center;
}

/*selectable content*/
button{
	color: red;
	background-color: black;
	min-height: 48px;
	min-width: 48px;
	/*margin-top:15px;*/
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	bottom: 0;
	border:1px solid red;
	padding: 1.5em;
}
