

body{
	max-width: 100%;
	color: red;
	font-family: helvetica;
	background-color: black;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:red;
}

/*selectable content*/
button{
	color: red;
	background-color: black;
	min-height: 48px;
	min-width: 48px;
	max-height: 100%
	max-width: 100%;
	margin-top:45%;
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	border:1px solid red;
	padding: 1.5 em;
}
