

body{
	max-width: 100%;
	color:#660000;
	font-family: helvetica;
	background-color: black;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:#660000;
}

/*uzi 3d content*/
#uzi{

	/*HEAD*/
	/*display:table;*/
	/*height:20px;*/
	/*margin-left:-10px;*/ /* -1/2 width */
	/*margin-top:-10px; *//* -1/2 height */

	width:50%;
	margin-left:25%;
	text-align:center;
	vertical=align:middle;
/*	position:fixed;*/
	margin: 0 auto;
}

/*selectable content*/
button{
	color:#660000;
	background-color: black;
	min-height: 48px;
	min-width: 48px;
	/*margin-top:15px;*/
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	bottom: 0;
	border:1px solid #660000;
	border-radius:12px;
	padding: 1.5em;
}
