

body{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	color:#660000;
	margin-top:15;
	font-family: helvetica;
	background-color: black;
	vertical-align:middle;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:#660000;
}

#uzi{

 	width:100px;
        height:100px;
        margin-left:45%;
        text-align:center;
        vertical-align:middle;
        position:fixed;

}
canvas {

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

/*selectable content*/
button{
	color:#660000;
	background-color: white;
	min-height:48px;
	min-width: 48px;
	margin-top:25px;
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	top: 0;
	left: 20;
	border-radius:12px;
	border:1px solid #660000;
	padding: 1.5em;
}
button1{
        color:#660000;
        background-color:white;
        min-height: 48px;
        min-width: 48px;
        display:inline-block;
        position:fixed;
	top:0;
	right:0;
        border-radius:12px;
        padding: .5em;
}
