

body{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	color:#660000;
	margin-top:15;
	font-family: helvetica;
	background-color: black;
	vertical-align:middle;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:#660000;
}

#uzi{
  width:100px;
        height:100px;
        margin-left:45%;
        text-align:center;
        vertical-align:middle;
        position:fixed;
        margin: 0 auto;

}
#canvas {
	
	width:100px;
	height:100px;
        margin-left:45%;
        text-align:center;
        vertical-align:middle;
      	position:fixed;
        margin: 0 auto;
}


/*selectable content*/
button{
	color:#660000;
	background-color: black;
	min-height: 48px;
	min-width: 48px;
	margin-top:25px;
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	bottom: 0;
	border:1px solid #660000;
	border-radius:12px;
	padding: 1.5em;
}
