

body{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	color:#660000;
	margin-top:15;
	font-family: helvetica;
	background-color: black;
	vertical-align:middle;
}

/*head of page*/
h1{
	font-family: helvetica;
 	color:#660000;
}

#uzi{

 	width:100px;
        height:100px;
        margin-left:45%;
        text-align:center;
        vertical-align:middle;
        position:fixed;

}
canvas {

}

/*selectable content*/
button{
	color:#660000;
	background-color:black;
	min-height:35px;
	min-width: 35px;
	margin: 0 auto;
`	margin-top:25px;
	font-size: 14px;
	font-family: helvetica;
	display: inline-block;
	position: relative;
	top: 0;
	border-radius:12px;
	border:1px solid #660000;
	padding: 1.5em;
}
button1{
        color:#660000;
        background-color:white;
        min-height: 48px;
        min-width: 48px;
        display:inline-block;
        position:absolute;
	bottom:100px;
	/*vertical-align: bottom;*/
	text-align: center;
	/*margin-left:50%;*/
	margin-right:10%;
	/*left:50px;*/ 
        border-radius:12px;
        padding: 1.5em;
}
